<?xml version="1.0" encoding="UTF-8"?>
<appSettings>
  <add key="AD_APP_APPLICATIONID" value="b33605c7-938b-4d47-ab68-e43cdd7b9bd5" />
  <add key="AD_APP_SECRET" value="bnS8gfcQLhUFRH97Gs0hG0OY+LYyW7Zj0N0UZX7wn3g=" />
  <add key="READ_AD_APP_APPLICATIONID" value="e64257a7-68fe-48e2-b8a8-3e60c79ff7ad" />
  <add key="READ_AD_APP_SECRET" value="M04DUqaXl0X1SUyCT7mqTcf9+jvl7KrgB3HHeJEIiTs=" />
  <add key="RANDOM_HASH" value="Nmp6ezBlvHT6DxrXULC" />
</appSettings>